@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@500&display=swap');

html {
font-size: 15px;
font-family: serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --primary-color: #efa00b;
    --secondary-color: #0075c4;
    --accent1-color: #591f0a;
    --accent2-color: #d65108;

    --heading-font:'roboto',serif;
    --paragraph-font:'mooli',serif;

    --nav-background-color:#efa00b;
    --nav-link-color:#efa00b;
    --nav-hover-link-color:#0075c4;
    --nav-hover-background-color:#d65108;  
}
body {
    font-family: var(--paragraph-font);
    max-width: 1500px;
    padding: 20px;
}

header {
    padding: 20px;
    background-color: var(--primary-color);
    
}

.grid {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 400px 20px 20px;
	align-items: center;
	border: 1px solid black;
	max-width: 1000px;
}

.grid img {
    grid-column-start: 1;

}

.grid nav a {
    display: grid;
	grid-template-columns: 100px 1% 1%;
	align-items: center;
}

.grid a {
    box-sizing: border-box;
    display: grid;
    margin: 10px;
    text-decoration: underline;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    text-decoration:underline;   
}


.flexbox-container section {
    display: flex;   
    flex-direction:column;
    margin: 5px;
    border: 1px solid black;
    padding: 50px;
    padding-bottom: 650px;
    max-width: 1500px;
    max-height: 500px;
    
}

.flexbox-container h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: xx-large;
    position: absolute;
    text-align:center;
    top: 310px;
    margin-right: 320px;
}

.flexbox-container h3 {
    font-family: var(--heading-font);
}


section {
    display: flex;
    padding: 40px;
    margin: 5px;
    border: 1px solid black;
    max-width: 1500px;
    background-color: aquamarine;
}
section h2 {
    display: flex;
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: xx-large;
    position: absolute;
    text-align: center;
    margin-left: 310px;
    top: 1050px;
}

.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}


.flexbox-container figure {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.flexbox-container img {
    max-width: 390px;
    min-height: 250px;
    flex-direction: row;
    margin-left: 12px;
    margin-top: 50px;
}

.flexbox-container figcaption {
    background-color: #222;
    color: white;
    text-align: center;
    max-width: 250px;
}

            /*FORM*/
h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;     
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2) ;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
}

label, input, button, select, textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

            /*FOOTER*/
footer {
    display: flex;
    justify-content:center;
    align-items: center;  
    margin: 5px;  
    border: 1px solid black;
}

footer p {
    display: flex;
    margin-left: 50px;  
}

.sociallinks {
    display: flex;
    position: relative;
    float: right;
}

