@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@500&display=swap');

html {
font-size: 15px;
font-family: serif;
}

* {
    box-sizing: border-box;

}
:root{
    --primary-color: #efa00b;
    --secondary-color: #0075c4;
    --accent1-color: #591f0a;
    --accent2-color: #d65108;

    --heading-font:'roboto',serif;
    --paragraph-font:'mooli',serif;

    --nav-background-color:#efa00b;
    --nav-link-color:#efa00b;
    --nav-hover-link-color:#0075c4;
    --nav-hover-background-color:#d65108;  
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    background-color: white;
    font-size: 60px;
    position: absolute;
    right: 280px;
    top: 50px;
    

}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: relative;

}

header {
    padding: 20px;
    background-color: var(--primary-color);
    
}

p {
    padding: 25px;
    /*position: absolute;*/
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    
}

.hero {
    display: block;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
	/*position: absolute;
    float: right;*/
    
}

div article {
    box-sizing: border-box;
    margin: 20px;
    border: #0075c4;
    padding: 0%;
    background-color:transparent;
    display: block;
    position: absolute;
    float: right;
    width: 40%;
    height: 1%;
    bottom: 450px;
    left: 500px;
    
}

/*article img{
    position: relative;
    /*width:|10%;
    height: 1%;
    float: right;
}*/

img p {
    float: right;
}
